body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    font-size: 17px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img {
    justify-content: center;
    display: flex;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.description {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

table {
    width: 80%;
    border-collapse: collapse;
}

.tb {
    justify-content: center;
    display: flex;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.btn-index {
    display: flex;
    gap: 5px;
    justify-content: center;
}

footer {
    background-color: green;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
    position: fixed;
    height: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#emprestimoForm{
	display: flow;
    width: 35%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);	
}

#emprestimoForm button{
	width: 36%;
}

.data{
	display: inline-grid;
}


label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 50%;
}

#cpf,
#telefone,
#nascimento {
    width: 100%;
}

select {
    height: 30px;
    border-radius: 5px;
    width: 100%;
}



.form-cpf {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 25px;
}

.form-cep {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 25px;
    width: 50%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.painel{
	display: flex;
	gap: 1%;
}
.aniversario, .livros{
	background-color: #dff0d8;
	color: #3c763d;
	width: 50%;
	border-radius: 5px;
	padding: 10px;
}

.login{
	justify-content: right;
}

.balao-img{
	margin-top: -30%;
	justify-content: right;
	box-shadow: none;
	margin-left: 77%;
	height: 90%;
}
